/* RESUABLE */

:root {
  --primary_color: #D31B23;
  --secondary_color: #212020;
  --white_bg: #F3F2F2;
  --text_color: #F1F1F1;
  --header_font: 'Roboto Mono', monospace;
  --text_font: 'Nunito', sans-serif;
}

/* END OF RESUABLE */

body{
  background: #ffffff;
}

html {
  scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header_font);
}

a,
input,
button,
span,
p,
textarea {
  font-family: var(--text_font);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}



/*--------------------------
   Header
---------------------------*/
#header {
height: 60px;
padding: 10px 0;
position: fixed;
left: 0;
top: 0;
right: 0;
transition: all 0.5s;
z-index: 997;
background: var(--white_bg);
padding-bottom:10px;
}

#header.header-scrolled,
#header.header-fixed {
background: var(--white_bg);
height: 70px;
padding: 15px 0;
transition: all 0.5s;
}

.nav-menu,
.nav-menu * {
margin: 0;
padding: 0;
list-style: none;
cursor: pointer;
}

.nav-menu ul {
position: absolute;
display: none;
top: 100%;
left: 0;
z-index: 99;
}

.nav-menu li {
position: relative;
}

.nav-menu > li {
float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
display: block;
}

/* Nav Meu Container */

#nav-menu-container {
  /* float: right; */
  padding-left: 1000px;
  margin: 0;
  padding-top: 0.5rem;
}

.nav-menu li.signup a {
  color: var(--primary_color);
  background: white;
  padding: 7px 22px;
  border: 1px solid var(--primary_color);
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 13px;
}

.nav-menu li.signup a:hover{
  color: white;
  background: var(--primary_color) ;
  padding: 7px 22px;
  border: 1px solid var(--primary_color);
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 13px;
}

.nav-menu li.login a {
  color: var(--text_color);
  background: var(--primary_color);
  padding: 7px 22px;
  border: 1px solid var(--primary_color);
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 13px;
}

.nav-menu li.login a:hover {
  color:  var(--primary_color);
  background: var(--text_color);
  padding: 7px 22px;
  border: 1px solid var(--primary_color);
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 13px;
}



/* Mobile Nav Toggle */
#mobile-nav header{
background-color: var(--white_bg);
}

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 15px 15px 0 0;
  border: 0;
  background: none;
  font-size: 20px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  padding-top: 7px;
  padding-right: 270px;
}

#mobile-nav-toggle i {
  color: var(--secondary_color);
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 90px;
  bottom: 0;
  z-index: 9999;
  background: var(--white_bg);
  left: -460px;
  width: 400px; /* changes to still be made concering the mobile view background */
  overflow-y: auto;
  transition: 0.4s;
  
}

#mobile-nav ul {
margin: 0;
list-style: none;
}

#mobile-nav ul li {
position: relative;
}

#mobile-nav ul li {
  position: relative;
  padding-bottom: 2rem;
}
#mobile-nav ul li a{
 color: var(--secondary_color);
}

#mobile-nav > ul li.signup a {
  color: var(--primary_color);
  background: white;
  padding: 7px 22px;
  border: 1px solid var(--primary_color);
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-top: 2px;
  line-height: 1;
  font-size: 13px;
  margin-left: 6rem;
  margin-bottom: 31rem;
}

#mobile-nav >ul li.login a {
  color: var(--text_color);
  background: var(--primary_color);
  padding: 7px 24px;
  border: 1px solid var(--primary_color);
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 3.5rem;
  top: 12px;
  font-size: 16px;
  line-height: 1;
  }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(252, 243, 211, .8);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/* ===================================
    END OF HEADER FOR LANDING PAGE
=================================== */



/* ===================================
          NAVBAR FOR DASHBOARD
=================================== */
.dashboard_header .form-control {
  box-shadow: none;		
  font-weight: normal;
  font-size: 13px;
}

.dashboard_header .form-control:focus {
  border-color: var(--white_bg);
}	

.dashboard_header {
  background: var(--white_bg);
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #dfe3e8;
  border-radius: 0;
}

.dashboard_header .form-inline {
      display: block;
}

.dashboard_header .nav-menu {
  position: absolute;
}

.search-box {
  position: relative;
}	

.dashboard_header #nav-menu-container {
  padding-left: 300px;
  margin: 0;
  padding-top: 0.5rem;
}

.search-box input {
  border-color: none;
  border-radius: 20px !important;
  box-shadow: none;
  background: #fff;
  min-width: 400px;
  margin-left: 10px;
  }
  
.search-box .input-group-addon {
  min-width: 50px;
  border: none;
  background: transparent;
  position: absolute;
  left: 300px;
  z-index: 9;
  padding: 7px;
  height: 100%;
  }

.search-box i {
  font-size: 18px;
}

.fa-search:before {
  content: "\f002";
  color:grey;
}

.dashboard_header .dashboard_nav_menu{
  margin-top: -2rem;
  margin-left: 800px;
}

.large_screen_button{
  margin-left: 450px;
    margin-top: -2rem;
}

.small_screen_btn{
  margin-left: 450px;
  margin-top: 1.9rem;
}

.home_login{
  margin-left: 550px;
}

button span{
  font-size: 12px;
  color: #fff;
  font-family: var(--text_font);
}

.details_btn .balance_sm{
  margin-right: 1rem;
}

.balance{
    background: var(--primary_color);
    border: none;
    font-family: var(--text_font);
    color: var(--text_font);
    font-style: 10px;
}

.balance_1{
    width:65px;
    border-radius: 100px;
    padding: 0px 5px 0px;
    border: none;
}

.balance_1::placeholder {
    color:var(--secondary_color);
    font-weight: bolder;
    padding-left:8px;
}

/* ===================================
          END OF NAVBAR
=================================== */


/* =================================
  HERO section
================================= */
#hero {
  background: var(--primary_color);
  margin-left: 1rem;
  margin-right: 1rem;

  /* Set a specific height */
  height: 100vh;
  
  /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }

  #hero h5 {
    color: #fff;
    font-family:var(--text_font);
    font-size: 35px;
    margin-bottom: 1.5rem;
  }

  #hero p{
    color: #fff;
    font-family:var(--text_font);
    font-size: 18px;
    font-style: italic;
    padding-right: 45rem;
  }

.hero-text {
    font-family:var(--text_font);
    text-align: left;
    position: absolute;
    padding-top: 15%;
    padding-left: 8%;
  }
 
.learnmore{
    color:var(--primary_color);
    background: #FCF3D3;
    font-family: var(--text_font);
    font-family: bolder;
    font-size: 16px;
    border-radius: none;
    box-shadow: 10px 10px 10px 10px var(--primary_color);
    font-family: var(--text_font);
  }

  .learnmore:hover{
    color: var(--white_bg);
    background:  var(--secondary_color);
    font-family: var(--text_font);
    font-family: bold;
    font-size: 16px;
    border-radius: none;
    box-shadow: 10px 10px 10px 10px var(--primary_color);
  }

  .home_inner_card{
    margin-top: -44%;
    margin-left: 60%;
   padding-left: 10%;
   
  }

  .home_card{
    cursor: pointer;
}

.home_inner_card .card{
    height: 22vh;
    width: 22vh;
    border-radius: 10px;  
    background: var(--secondary_color);
  }

/* ===================================
          END OF HERO
=================================== */


/* ===================================
      WHY CHOOSE RECHARGEPRO
=================================== */

  .section_header_why {
    /* margin-bottom: 60px; */
    position: relative;
    padding-bottom: 3px;
  }
  
  .section_header_why::before {
    content: '';
    position: absolute;
    display: block;
    width: 220px;
    height: 3px;
    background: var(--primary_color);
    bottom: 0;
    /* left: 5%; */
  }

  #why_choose{
padding-top: 15rem;
  }

  #why_choose img{
    margin-top: -8rem;
  }

  #why_choose h5{
    color: var(--primary_color);
    font-family: var(--header_font); 
    font-weight: bold;
  }

  #why_choose p{
    line-height: 0.5em;
    font-size: 12px;
    color: var(--secondary_color);
    font-weight: bold;
  }

  #why_choose .section_header_why h3{
    color: var(--secondary_color);
    font-family: var(--header_font);
    text-transform: uppercase;
  }

 
  

  #why_choose h3, #faq h3{
    color: var(--secondary_color);
    font-weight: bolder;
    font-size: 40px;
  }

  #why_choose span{
    color: var(--primary_color);
  }

  .why_choose_icon{
    padding-left: 200px;
  }
  
  .why_choose_img{
    padding-left: 80px; 
  }

  .why_choose_icon p{
    color: var(--secondary_color);
    font-weight: bold;
    font-size: 25px;
  }

  .card{
    background: transparent;
    border: none;
  }

  .card-title{
    background: var(--secondary_color);
    height: 3rem;
    margin-top: -155px;
    width: 328px;
    margin-left: 0rem;
  }

  .card-title2{
    background: var(--secondary_color);
    height: 3rem;
    margin-top: -77px;
    width: 328px;
    margin-left: 0rem;
  }

  .card-title h5{
    color: var(--text_color);
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-family: var(--text_font);
  }

  .card-title2 h5{
    color: var(--text_color);
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-family: var(--text_font);
  }

  .card-text{
    background: var(--secondary_color);
    height: 7rem;
    margin-top: -12px;
    width: 328px;
    margin-left: 0rem;
  }

  .card-text2{
    background: var(--secondary_color);
    height: 7.5rem;
    width: 328px;
    margin-left: 0rem;
  }
  .card-text p{
    color: var(--text_color);
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    padding-right: 1.5rem;
    padding-left: 1rem;
    font-family: var(--text_font);
  }
  .card-text2 p{
    color: var(--text_color);
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    padding-right: 1.5rem;
    padding-left: 1rem;
    font-family: var(--text_font);
  }
  .card-link{
    background: var(--primary_color);
    height: 3rem;
    margin-top: -12px;
    width: 328px;
    margin-left: 0rem;
  }
  .card-link2{
    background: var(--primary_color);
    height: 3rem;
    margin-top: -12px;
    width: 328px;
    margin-left: 0rem;
  }
  .card-link a{
    color: var(--text_color);
    font-size: 18px;
    text-align: center;
    font-family: var(--text_font);
  }
  .card-link2 a{
    color: var(--text_color);
    font-size: 18px;
    text-align: center;
    font-family: var(--text_font);
  }

/* ===================================
      END OF WHY CHOOSE RECHARGEPRO
=================================== */



/* ===================================
            FAQ
=================================== */
#faq{
 
  background-image:url("../assets/images/img/Union\ 1.png"); 
  height: 330vh;
  position: flex;
  margin-top: -30rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#faq h3{
  font-size: 25px;

}
#faq .faq_main_card{
  padding-left:12rem;
}
#faq .faq_main{
  z-index: 99999;
  padding-top: 450px;
  text-align: center;
}
#faq .faq_card{
  height: 15rem;
  width: 18rem;
  background: white;
  border-top: 1px solid  #DFDFDF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 40px 0px 4px 1px #DFDFDF; */
  z-index: 9999;
}
#faq .faq_card p{
 margin-top: 2rem;
 padding-left: 1rem;
 padding-right: 1rem;
 text-align: justify;
 font-family: var(--text_font);
 padding-bottom: 1.5rem;
}

#faq .faq_card span{
  margin-top: -2rem;
  margin-left: 7rem;
  font-family: var(--text_font);
  font-weight: bold;
}
.fa-question-circle, .fa-comment-alt-edit{
  color: var(--primary_color);
  background-color: white;
}
.fa-question-circle::before{
  background-color: white;
}

.faq-circle {
  height: 50px;
  width: 50px;
  background-color: #EC7630;
  border-radius: 50%;
  margin-left: 3rem;
  /* display: inline-block; */
}
.owl-nav{
  display: none;
}

#faq .owl-dot {
  top: 2rem;
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color:transparent;
  border: 1px solid #fff;
  color: #fff;
  position: relative;
  /* left: 3%; */
  z-index: 9999;
}
#faq .owl-dot.active {
  background-color: #fff;
}
.bg-no-overlay {

  background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/img/home_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 250px;
  margin-top: 150px;
}
.bg-no-overlay .row h1{
  text-align: center;
  font-size: 25px;
  padding-left: 13rem;
  padding-top: 7rem;
}
.faq_phone img{
  width: 90%;
}

.faq_play_store{
  padding-top: 13rem;
  padding-left: 15rem;
}
.app_download img{
  width: 40%;
}
.app_download{
  padding-top: 23rem;
  margin-left: -11rem;
}
.app_download h5{
  color: var(--primary_color);
  font-weight: bold;
  font-family: var(--header_font);
}

/* .faq_bg{
  background-image: url();
  height: 30vh;
  background-size: cover;
    position: relative;;
} */

/* ===================================
      END OF FAQ
=================================== */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: rgba(33,32,32, 0.9);
   padding: 0 0 25px 0;
  color: #eee;
  font-size: 14px;
}
#footer .footer_link_menu{
  padding-left: 4rem;
  margin-left: 4rem;
}
#footer .fa{
color: var(--primary_color);
}
#footer .fa span{
color: var(--text_color);
}
/* #footer .empty{
  background-color: var(--secondary_color);
  height: 10rem;
} */
#footer .footer-top {
  background: var(--secondary_color);
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
}

#footer .footer-top .footer-info img {
  height: 27px;
  margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  color: var(--primary_color);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: red;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary_color);
  text-transform: uppercase;
  position: relative;
  border-bottom: 2px solid white;
  width: 3rem;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;

}

/* #footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #ffc400;
  font-size: 18px;
} */

#footer .footer-top .footer-links ul li {
  padding: 3px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: red;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}
/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  z-index: 9999;
  color: #fff;
background-color: #fff;
/* border-top: 1px solid  #DFDFDF; */
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

line-height: 1;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 45px;

  right: 10px;
  bottom: 15px;
  transition: background 0.5s ease-in-out;
}



.back-to-top:focus {
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  color: #fff;
}





/* ===================================
    LOGIN AND SIGNUP PAGE STYLING
=================================== */


.login_bg{
  /* Use "linear-gradient" to add a darken background */
  background-image: linear-gradient(rgba(211, 27, 35, 0.7), rgba(211, 27, 35, 0.7)), url("../assets/images/img/home_img.png");
  
  /* Set a specific height */
  height: 97vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.login_logo h3{
  padding-top:20%;
  padding-left: 25%;
  font-size: 35px;
  font-weight: bold;
  font-family: var(--text_font);
}

.signup_logo h3{
  padding-top:10%;
  padding-left: 25%;
  font-size: 35px;
  font-weight: bold;
  font-family: var(--text_font);
}

.login_logo p, .signup_logo p{
  padding-left: 16%;
}
.password_request input{
  width:100px;
}
.login{
  padding-left: 12%;
}

.login_logo span, .signup_logo span{
  color: var(--primary_color);
}

.signup_form_item input {
  border: none;
  border-bottom: 1px solid #fff;
  width: 65%;
  padding: 3px;
  transition: all 0.6s ease-in-out;
  background: transparent;
  font-size: 17px;
  outline: none;
}

.signup_form_item input:focus,
.signup_form_item input:hover {
  border: none;
  border-bottom: 2px solid var(--text_color);
}
.forgot_password{
  padding-left: 6rem;
  color: var(--secondary_color);
}

.forgot_password:hover{
  color: var(--secondary_color);
}
/* .login_links{
  padding-right: 15rem;
} */
.login_links{
  margin-left:0.5rem
}

.login_btn{
  background: var(--primary_color);
  border: none;
  padding: 5px 40px 10px;
  color: var(--text_color);
  font-family: var(--text_font);
  margin-right: 6.5rem;
}

.signup_btn{
  background: #fff;
  border: none;
  padding: 5px 40px 10px;
  color: var(--primary_color);
  box-shadow: 1px 1px 1px 1px grey;
  font-family: var(--text_font);
  font-size: 16px;
}

.signup_links{
  padding-left: 8rem;
}

.signup_question a{
  text-decoration: underline;
  padding-left: 5rem;
}

/* ===================================
END OF LOGIN AND SIGNUP PAGE STYLING
=================================== */


/* ===================================
    DASHBOARD STYLING
=================================== */

/* .dashboard_logo{
  background: #fff;
  height: 4.9rem;
}
.dashboard_logo img{
  width: 65%;
  margin-top: 1.7rem;
  margin-left: 2.5rem;
} */

aside {
    width: 300px;
    position: fixed;
    background: var(--secondary_color);
    /* box-shadow: 5px 1px 13px 1px rgba(0, 0, 0, 0.2); */
    margin-top: 3rem;
    padding-top: 2rem;
}

.side_nav_content {
    padding-bottom: 0;
    display: flex;
    align-items: start;
    height: 100vh;
    justify-content: center;
}

.side_nav_content ul {
    list-style: none;
    padding-left: 0;
}

.side_nav_content ul li {
    padding: 30px 50px 10px 0px;
    text-align: justify;
}
.side_nav_content ul li img{
  margin-right: 1rem;
  margin-top: -0.5rem;
}
/* .side_nav_content ul li img  a{
  margin-top: 15rem;
  padding-top: 100rem;
} */

.side_nav_content ul li a {
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
    /* padding-top: 15rem; */
}
/* .menu-active {
  border-bottom: 4px solid  #038BB4;
  background: var(--text_color);
  padding-right: 20px;

} */



/* mobile reponsiveness */
.mobile_card{
  background: var(--secondary_color);
  height: 5rem;
  width: 10rem;
  border-radius: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
}

/********
 mobile dashboard navigation
 *****/
 .mobile_nav{
   display: none;
 }
 .open_btn_alt {
  margin-right: 10px;
  margin-top: -32px;
  color: orange;
  float: right;
  
  display: none;
}

.alt_menu_icon {
  font-size: 30px;
  display: none;
  cursor: pointer;
  float: left;
  color: orange;
  margin-top: -16px;
}


/* .mobile_logo {
  padding: 0;
  margin: 0 auto;
} */

.Contact,
.message,
.withdraw_form_holder,
.user_field {
  background: var(--secondary_blue);
  border-radius: 5px;
}

.contact_content,
.withdraw_form_content,
.message_content,
.referral_content,
.user_field_content {
  color: #fff;
  padding: 2em 3em;
}

.contact_form input,
.contact_form select,
textarea,
.withdraw_form input,
.withdraw_form select,
.language select,
.setting_item input,
.account_fund select,
.account_fund input {
  background: var(--primary_blue);
  padding: 0.3em 1em;
  border: 2px solid var(--primary_blue);
  outline: none;
  border-radius: 5px;
  color: #fff;
}

.side_nav_content_alt {
  color: #fff;
}





.side_nav_content ul li a:hover,
.side_nav_content ul li a:focus {
    color: orange;
}

.side_nav_content_alt {
    height: 100vh;
    padding: 1em;
}



.utility p{
  font-size: 13px;
  font-weight: bolder;
}

.airtime_btn{
  left: 25%;
  top: 20%;
  z-index: 9999;
  position: absolute;
}
.airtime_btn img{
  width: 40px;
}
.electricity_btn{
  left: 25%;
  top: 38%;
  z-index: 9999;
  position: absolute;
}
.electricity_btn img{
  width: 60px;
}
.cable_btn{
  left: 25%;
  top: 57%;
  z-index: 9999;
  position: absolute;
}
.cable_btn img{
 width: 60px;
 padding-bottom: 0.5rem;
}
.bills_btn{
  left: 25%;
  top: 76%;
  z-index: 9999;
  position: absolute;
}
.bills_btn img{
  width: 80px;
}
.airtime{
  border-radius: 30px;
  background: #fff;
  height: 7rem;
  width: 7rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.utility_card{
  padding-left: 32%;
  padding-top: 12%;
}

.utility_card button{
 background: var(--secondary_color);
 border-radius: 10px;
 height: 6rem;
 width: 5.5rem;
}
.utility_card2{
  padding-left: 32%;
  padding-top: 3%;
}

#transaction_card{
  background-color: #fff;
  height: 13rem;
}

/* #transaction_card img{
  width:50%;
} */

#transaction_card p{
  color: #fff;
  font-size: 10px
}
#transaction_card2{
  background-color: var(--secondary_color);
  height: 13rem;
}
#recurrent_transaction_card2{
  background-color: var(--secondary_color);
  height: 11rem;;
}
.card-heading{
  background: var(--primary_color);
  color: var(--text_color);
  text-align: center;
  max-height: 3rem;
  padding-top: 1rem;
  font-size: 16px;
  font-weight: bolder;
  font-family: var(--text_font);
}
.inner_card {
  border: 1px solid var(--primary_color);
  background:transparent;
  z-index: 99999;
  height: 10rem;
  width: 13.6rem;
  color: #fff;  
}
.inner_card2 {
  border: 1px solid var(--primary_color);
  background:transparent;
  z-index: 99999;
  height: 12rem;
  width: 13.6rem;
  color: #fff;  
}
.inner_card p, .inner_card2 p{
  text-align: center;
}


/* ===================================
  MODAL STYLING
=================================== */
.modal{
  z-index: 99999;
  padding-left: 114px;
  padding-top: 20px;
 
}
.modal-body{
  min-height: 20rem;
}

.modal-body p{
  font-size: 12px;
  font-weight: bold;
  font-family: var(--text_font);
}

.modal-content{
  min-width: 47.5rem;
  
}

.modal-content button span{
  color: var(--secondary_color);
  font-size: 50px;
  padding-left: 40rem;
}

.modal-content select,.modal-content input{
  border-radius:80px;
  padding: 25px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.modal-content option::before{
  border-radius:80px;
  padding: 25px;
  border-radius: 1px solid;
  box-shadow: 2px 2px 2px 2px grey;
}

.btn-primary{
  border-radius:80px;
  padding: 5px;
  width: 21rem;
  text-transform: uppercase;
}


/* ===================================
  END OF MODAL STYLING
=================================== */

/* ===================================
   END OF  DASHBOARD STYLING
=================================== */



/* ===================================
   SUPPORT PAGE STYLING
=================================== */
.support_card{
  padding-left: 23%;
  padding-top: 8%;
}
.support_card h5{
  text-align: center;
  color: var(--primary_color);
  padding-left: 42.5rem;
}

#support_card_inner{
  background-color: #fff;
  height: 3rem;
  box-shadow: 1px 1px 1px 1px gray;
}
#support_card_inner span{
  color: var(--primary_color);
  font-size: 28px;
  font-weight: bolder;
  font-family: var(--text_font);
  padding-top: -13rem;
}
#support_card_inner p{
  color: var(--secondary_color);
  font-size:16px;
  font-weight: bolder;
  font-family: var(--text_font);
}

.support-heading{
  background: var(--secondary_color);
  color: var(--primary_color);
  max-height: 3rem;
  padding-top: 1rem;
  font-size: 16px;
  font-family: var(--text_font);
}
.support_tracking{
  background: transparent;
  border: 1px solid;
  height: 9rem;
  width: 60rem;
}

.support_inner{
  background: #7ABB75;
  margin-left: 2rem;
  margin-right: 2rem;
  min-height: 0.5rem;
}

.support_inner p{
  text-align: center;
  font-weight: bolder;
  margin-top: 0.5rem;
}


/* ===================================
   DEVELOPER PAGE STYLING
=================================== */
.developer_main{
  padding-left: 15rem;
}
.developer_main .card{
  background: #fff;
  min-height: 8rem;
  min-width: 23rem;
  padding-right: 15rem;
}
.content h5{
  color: var(--primary_color);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
  line-height: 0.5;
}
/* .content{
  margin-right: 1rem;
} */
/* .content2{
  margin-left: 0.5rem;
} */
.developer_tool{
  background: var(--secondary_color);
  min-height: 30rem;
  margin-right: 0;
  padding-bottom: 3rem;
  padding-right: 0;
  padding-left: 2rem;
}
.developer_tool h5{
  background: var(--primary_color);
  color: var(--text_color);
  font-size: 16px;
  width: 8rem;
  font-family: var(--header_font);
}
.developer_tool p{
  color: var(--text_color);
  line-height: 0;
  font-size: 10px;
  font-family: var(--text_font);
}

/* ===================================
   MEDIA QUERY
=================================== */

@media (min-width: 1200px){
  .form-inline .input-group {
    width: 90px;
  }
}
@media (max-width: 768px){

 
  .dashboard_header .dropdown-menu.form-wrapper {
    /* width: 100%; */
    padding: 10px 15px;
    background: transparent;
    border: none;
  }
  .dashboard_header .form-inline {
    display: block;
  }
  .navbar-form .input-group {
    width: 100%;
  }
}

/* Home screen */

@media (min-width: 300px) and (max-width: 767.98px){
 

  .mobile_card{
    margin-left: 2rem;
    margin-top: 1rem;
    background: var(--secondary_color);
    height: 6rem;
    width: 18rem;
    border-radius: 15px;
    display: flex;
    
    align-content: center;
  }

  .mobile_social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--primary_color);
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 45px;
    height: 45px;
    transition: 0.3s;
    margin-right: 1rem;
    cursor: pointer;
  }
  .mobile_social-links span{
    font-size: 10px;
    font-weight: bold;
    color: var(--secondary_color);
    margin-right: 1rem;
  }
  
   .social-links a:hover {
    background: #ffc400;
    color: #fff;
  }

  .mobile_airtime_card{
    background-color: #ffffff;
    width: 7.5rem;
    height: 7rem;
   border-top: 1px solid  #DFDFDF;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
    margin-right: 0;
    margin-top: 0.5rem;
    z-index: 9999;
  }

  .mobile_footer{
    background: var(--secondary_color);
    height: 3rem;
  }

  .footer_mobile_links a {
    font-size: 18px;
    display: inline-block;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 45px;
    height: 45px;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 1.3rem;
  }
  .back-to-top {
    bottom: 15px;
  }
  
  #header {
    background: transparent;
  }
  
  #nav-menu-container {
    display: none;
  }
  
  #mobile-nav-toggle {
    display: inline;
  }
  .fa.fa-bars::before{
    border-radius: 25%; 
    border: 2px solid var(--secondary_color);
    padding: 10px;
    margin-right: 1rem;
  }
  #logo img{
    width: 80%;
    margin-left: 4rem;
    margin-top: 0.5rem;
  } 
  #dashboard_logo img{
    width: 60%;
    margin-left: 4rem;
    margin-top: 0.5rem 
  } 

  /* .fa-times{
    padding-left: 90rem;
  } */
 
   .home_login{
    margin-left: 150px;
    margin-top: -10px;
  }

  .dashboard-form-inline .input-group {
    width: 150px;
    margin-top: 15px;
    padding-left: 210px;
    margin-left: 0;

  }
  .search-box input {
border-color: none;
    border-radius: 20px !important;
box-shadow: none;
background:transparent;
min-width: 110px;
border: none;
margin-left: 0;

}
.search-box input:focus{
  background: transparent;
  outline: transparent;
  border: none;
}
.search-box .input-group-addon {
  min-width: 50px;
  border: none;
  background: transparent;
  position: absolute;
  left: 285px;
  z-index: 9;
  padding: 7px;
  height: 100%;
}
.balance{
  background: var(--primary_color);
  border: none;
  font-family: var(--text_font);
  color: var(--text_font);
  font-style: 8px;
}
.details_btn .balance_sm{
  margin-right: 0;
}
.balance_1{
  width:45px;
  border-radius: 100px;
  padding: 0px 5px 0px;
  border: none;
}
.balance_1::placeholder {
  color:var(--secondary_color);
  font-weight: bolder;
  padding-left:8px;
  font-size: 12px;
}
.details_btn{
    margin-left: 2rem;
    margin-top: 1rem;
  }
  #hero{
    height: 100vh;
    background-size: cover;
    position: relative;
    margin-top: 20% !important;
    margin-right: 0.5rem;
  }
 
   #hero p{
    color: #fff;
    font-family:var(--text_font);
    font-size: 14px;
    font-style: italic;
    padding-right: 0;
  }
  .home_inner_card{
    margin-top: -20rem;
    margin-left: 6%;
   margin-bottom: 2rem;
   
  }
  .home_card{
    /* z-index: 9999; */
    cursor: pointer;

  }

  .home_inner_card .card{
    /* z-index: 9999; */
    height: 20vh;
    width: 20vh;
    border-radius: 10px;  
    background: var(--secondary_color);
    }

    .home_mobile {
      margin-top: 2rem;
    }


   .section_header_why {
    /* margin-bottom: 60px; */
    position: relative;
    padding-bottom: 3px;
  }
  
  .section_header_why::before {
    content: '';
    position: absolute;
    display: block;
    width: 150px;
    height: 3px;
    background: var(--primary_color);
    bottom: 0;
    left: 3%;
  }

  #why_choose h3, #faq h3{
    color: var(--secondary_color);
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
  }

  .why_choose_icon{
    padding-left: 0;
    text-align: center;
  }
 
  #faq .faq_main_card{
    padding-left:1rem;
  }
  .bg-no-overlay .row h1{
  
    font-size: 28px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
  }

  #faq{
 
    background-image:url("../assets/images/img/Union\ 1.png"); 
    height: 240vh;
    position: flex;
    margin-top: -30rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 20rem;
  }
  .app_download h5{
    color: var(--primary_color);
    font-weight: bold;
    font-family: var(--header_font);
    font-size: 14px;
  }
  #faq .owl-dot {
    top: 2rem;
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:transparent;
    border: 1px solid #fff;
    color: var(--primary_color);
    position: relative;
    /* left: 3%; */
    z-index: 9999;
  }
  #faq .owl-dot.active {
    background-color:var(--secondary_color);
  }

  .faq_phone img{
    width: 60%;
    margin-right: 8rem;
  }
  
  .faq_play_store{
    padding-top: 5rem;
    padding-left: 0rem;
  }
  .app_download img{
    width: 70%;
  }
  .app_download{
    padding-top: 0;
    margin-top: -6rem;
    margin-left: 10rem;
  }
  .login_bg{
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  }
  .login_btn{
    background: var(--primary_color);
    border: none;
    padding: 5px 40px 10px;
    color: var(--text_color);
    font-family: var(--text_font);
    margin-right: 1.5rem;
  }

  .forgot_password{
    padding-left: 2rem;
  }

  .login_logo p{
    padding-left: 2rem;
    font-size: 12px;
  }

  #why_choose{
    padding-top: 10rem;
    padding-bottom: 5rem;
      }

  .why_choose_img{
    padding-left: 10px; 
  }
  .mobile_why{
    padding-left: 3rem;
  }
  .section_header_why::before {
    content: '';
    position: absolute;
    display: block;
    width: 150px;
    height: 3px;
    background: var(--primary_color);
    bottom: 0;
    left: 15%;
  }

  .section_header_why h3{
    padding-top: 2rem;
  }

  
  .card-title{
    background: var(--secondary_color);
    height: 3rem;
    margin-top: -155px;
    width: 335px;
    margin-left: 0rem;
  }

  .card-title2{
    background: var(--secondary_color);
    height: 3rem;
    margin-top: -77px;
    width: 332px;
    margin-left: 0rem;
  }

  .card-title h5{
    color: var(--text_color);
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-family: var(--text_font);
  }

  .card-title2 h5{
    color: var(--text_color);
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-family: var(--text_font);
  }

  .card-text{
    background: var(--secondary_color);
    height: 7rem;
    margin-top: -12px;
    width: 335px;
    margin-left: 0rem;
  }

  .card-text2{
    background: var(--secondary_color);
    height: 7.5rem;
    width: 335px;
    margin-left: 0rem;
  }
  .card-text p{
    color: var(--text_color);
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    padding-right: 1.5rem;
    padding-left: 1rem;
    font-family: var(--text_font);
  }
  .card-text2 p{
    color: var(--text_color);
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    padding-right: 1.5rem;
    padding-left: 1rem;
    font-family: var(--text_font);
  }
  .card-link{
    background: var(--primary_color);
    height: 3rem;
    margin-top: -12px;
    width: 335.5px;
    margin-left: 0rem;
  }
  .card-link2{
    background: var(--primary_color);
    height: 3rem;
    margin-top: -12px;
    width: 335px;
    margin-left: 0rem;
  }
  .card-link a{
    color: var(--text_color);
    font-size: 18px;
    text-align: center;
    font-family: var(--text_font);
  }
  .card-link2 a{
    color: var(--text_color);
    font-size: 18px;
    text-align: center;
    font-family: var(--text_font);
  }

  .login_links{
    padding-right: 1rem;
    margin-bottom: 2rem;
  }
  
.signup_links{
  padding-left: 4rem;
}
.signup_question {
  margin-bottom: 2rem;
}

.signup_question a{
  padding-left: 2rem;
}

#footer .footer-info, #footer .footer-contact{
  padding-left: 2rem;
  margin-left: 2rem;
}

#footer .footer_link_menu{
  padding-left: 1.4rem;
  margin-left: 1.4rem;
}

#footer{
  margin-bottom: 3rem;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  color: var(--primary_color);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .copyright{
 padding-left: 3rem;
 margin-top: 1rem;
}
}

/*media query for dashboard pages*/
@media screen and (max-width: 960px) {

 
  aside {
      display: none;
  }
  
  .main_content,
  .main {
      margin: 0;
  }

  .nav-tabs {
      display: block !important;
  }

  .nav-tabs li {
      font-size: 20px;
      margin-top: 10px;
  }

 

  /* .mobile_logo,
  .open_btn_alt,
  .alt_menu_icon {
      display: block !important;
  } */
  .open_btn_alt {
    margin-right: 10px;
    margin-top: -140px;
    color: black;
    float: right;
    font-size: 25px;
  }
  .close_btn {
    display: block;
    margin-top: -32px;
    margin-right: 10px;
    color: #EA0000;
    float: right;
}

/* ===================================
  MODAL STYLING
=================================== */
.modal{
  z-index: 99999;
  padding-left: 4px;
  /* padding-top: 7px; */
  margin-bottom: 2rem;
 
}
.modal-body{
  min-height: 20rem;
}

.modal-body p{
  font-size: 12px;
  font-weight: bold;
  font-family: var(--text_font);
  margin-top: 15rem;
}

.modal-content{
  min-width: 20.5rem;
  
}

.modal-content button span{
  color: var(--secondary_color);
  font-size: 50px;
  padding-left: 40rem;
}

.modal-content select,.modal-content input{
  border-radius:80px;
  padding: 25px;
  /* margin-bottom: 1rem; */
  margin-top: 1rem;
}
.modal-content option::before{
  border-radius:80px;
  padding: 25px;
  border-radius: 1px solid;
  box-shadow: 2px 2px 2px 2px grey;
}

.btn-primary{
  border-radius:80px;
  padding: 5px;
  width: 15rem;
  text-transform: uppercase;
  /* margin-top: 10rem; */
}

.mobile_modal{
  margin-top: -19rem;
}


/* ===================================
  END OF MODAL STYLING
=================================== */



}