:root {
  --primary_color: #D31B23;
  --secondary_color: #212020;
  --white_bg: #F3F2F2;
  --text_color: #F1F1F1;
  --header_font: 'Roboto Mono', monospace;
  --text_font: 'Nunito', sans-serif;
}
body{
  background: var(--white_bg);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header_font);
}

a,
input,
button,
span,
p,
textarea {
  font-family: var(--text_font);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* ===================================
          NAVBAR
=================================== */

.form-control {
  box-shadow: none;		
  font-weight: normal;
  font-size: 13px;
}
.form-control:focus {
  border-color: var(--white_bg);
}	

.navbar {
  background: var(--white_bg);
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #dfe3e8;
  border-radius: 0;
}
.navbar .form-inline {
      display: inline-block;
  }
.navbar .nav li {
  position: relative;
}
.search-box {
      position: relative;
}	
  .search-box input {
      /* padding-right: 85px; */
  border-color: none;
      border-radius: 20px !important;
  box-shadow: none;
  background: #fff;
  min-width: 500px;
  
  }
.search-box .input-group-addon {
      min-width: 50px;
      border: none;
      background: transparent;
      position: absolute;
      left: 450px;
      z-index: 9;
      padding: 7px;
      height: 100%;
  }
  .search-box i {
      color: var(--secondary_color);
    font-size: 18px;
  }
  .details_btn{
    margin-left: 200px;
  }
button span{
  font-size: 12px;
  color: #fff;
  font-family: var(--text_font);
}
  .balance{
    background: var(--primary_color);
    border: none;
    font-family: var(--text_font);
    color: var(--text_font);
    font-style: 10px;
  }
  .balance_1{
    width:35px;
    border-radius: 100px;
    padding: 0px 5px 0px;
    border: none;
  }
  .balance_1::placeholder {
    color:var(--secondary_color);
    font-weight: bolder;
    padding-left:8px;
  }


.navbar .navbar-right {
 margin-right: 70px;
}
.navbar .navbar-right li a  {
 color: var(--secondary_color);
 font-weight: bolder;
 font-family: var(--text_font);
 font-style: 12px;
}
/* ===================================
          END OF NAVBAR
=================================== */


/* =================================
  HERO section
================================= */
#hero {

  /* Use "linear-gradient" to add a darken background */
  background-image: linear-gradient(rgba(211, 27, 35, 0.7), rgba(211, 27, 35, 0.7)), url("../assets/images/img/home_img.png");
  
  /* Set a specific height */
  height: 90vh;
  
  /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  
  /* Place text in the left of the image */
  #hero h5 {
    color: #fff;
    font-family:var(--text_font);
    font-size: 50px;
    font-weight: bolder;
    
  }
  #hero p{
    color: #fff;
    font-family:var(--text_font);
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    padding-left: 10%;
  }
  .hero-text {
    font-family:var(--text_font);
    text-align: left;
    position: absolute;
    top: 40%;
    left: 40%;
  }
  .hero_btn{
    padding-left: 20%; 
  }
  
  .learnmore{
    color:var(--primary_color);
    background: #FCF3D3;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 100px;
    padding: 8px 40px 10px;
  }

  /* ===================================
          END OF HERO
=================================== */


/* ===================================
      WHY CHOOSE RECHARGEPRO
=================================== */

  .section_header_why {
    /* margin-bottom: 60px; */
    position: relative;
    padding-bottom: 3px;
  }
  
  .section_header_why::before {
    content: '';
    position: absolute;
    display: block;
    width: 240px;
    height: 3px;
    background: var(--primary_color);
    bottom: 0;
    left: 28%;
  }

  #why_choose h3, #faq h3{
    color: var(--secondary_color);
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
  }

  #why_choose span{
    color: var(--primary_color);
  }

  .why_choose_icon{
    padding-left: 200px;
  }
  
  .why_choose_img{
    padding-left: 80px; 
  }

  .why_choose_icon p{
    color: var(--secondary_color);
    font-weight: bold;
    font-size: 25px;
  }

  .card{
    background: transparent;
    border: none;
  }

  .card-title{
    background: var(--secondary_color);
    height: 3rem;
    margin-top: -155px;
    width: 328px;
    margin-left: 0rem;
  }

  .card-title2{
    background: var(--secondary_color);
    height: 3rem;
    margin-top: -77px;
    width: 328px;
    margin-left: 0rem;
  }

  .card-title h5{
    color: var(--text_color);
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-family: var(--text_font);
  }

  .card-title2 h5{
    color: var(--text_color);
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-family: var(--text_font);
  }

  .card-text{
    background: var(--secondary_color);
    height: 7rem;
    margin-top: -12px;
    width: 328px;
    margin-left: 0rem;
  }

  .card-text2{
    background: var(--secondary_color);
    height: 7.5rem;
    width: 328px;
    margin-left: 0rem;
  }
  .card-text p{
    color: var(--text_color);
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    padding-right: 1.5rem;
    padding-left: 1rem;
    font-family: var(--text_font);
  }
  .card-text2 p{
    color: var(--text_color);
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    padding-right: 1.5rem;
    padding-left: 1rem;
    font-family: var(--text_font);
  }
  .card-link{
    background: var(--primary_color);
    height: 3rem;
    margin-top: -12px;
    width: 328px;
    margin-left: 0rem;
  }
  .card-link2{
    background: var(--primary_color);
    height: 3rem;
    margin-top: -12px;
    width: 328px;
    margin-left: 0rem;
  }
  .card-link a{
    color: var(--text_color);
    font-size: 18px;
    text-align: center;
    font-family: var(--text_font);
  }
  .card-link2 a{
    color: var(--text_color);
    font-size: 18px;
    text-align: center;
    font-family: var(--text_font);
  }

/* ===================================
      END OF WHY CHOOSE RECHARGEPRO
=================================== */



/* ===================================
            FAQ
=================================== */

  .section_header_faq {
    /* margin-bottom: 60px; */
    position: relative;
    padding-bottom: 3px;
  }
  
  .section_header_faq::before {
    content: '';
    position: absolute;
    display: block;
    width: 160px;
    height: 3px;
    background: var(--primary_color);
    bottom: 0;
    left: 22%;
  }
#faq{
  margin-top: 10rem;
}
  .accordion {
    background: var(--primary_color);
    height: 4rem;
}

.accordion {
    color: #fff;
    cursor: pointer;
    /* padding: 18px; */
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 2rem;
    outline: none !important;
    font-size: 16px;
    transition: all ease 0.4s;
}

.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 18px;
    background: var(--secondary_color);
}

.active:after {
    content: "\2212";
}

.faq_answer {
    /* padding: 0 28px; */
    max-height: 0;
    color: var(--secondary_color);
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faq_answer p {
    font-size: 16px;
    padding: 6px;
}

/* ===================================
      END OF FAQ
=================================== */


#empty{
  background: var(--secondary_color);
  height: 15rem;
}

#footer-top{
  background: var(--primary_color);
  height: 5rem;
}




/* login page */
.login_bg{
  /* Use "linear-gradient" to add a darken background */
  background-image: linear-gradient(rgba(211, 27, 35, 0.7), rgba(211, 27, 35, 0.7)), url("../assets/images/img/home_img.png");
  
  /* Set a specific height */
  height: 97vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.login_logo h3{
  padding-top:20%;
  padding-left: 25%;
  font-size: 35px;
  font-weight: bold;
  font-family: var(--text_font);
}

.signup_logo h3{
  padding-top:10%;
  padding-left: 25%;
  font-size: 35px;
  font-weight: bold;
  font-family: var(--text_font);
}

.login_logo p, .signup_logo p{
  padding-left: 16%;
}
.login{
  padding-left: 12%;
}

.login_logo span, .signup_logo span{
  color: var(--primary_color);
}

.signup_form_item input {
  border: none;
  border-bottom: 1px solid #fff;
  width: 55%;
  padding: 3px;
  transition: all 0.6s ease-in-out;
  background: transparent;
  font-size: 17px;
  outline: none;
}

.signup_form_item input:focus,
.signup_form_item input:hover {
  border: none;
  border-bottom: 2px solid var(--text_color);
}
.forgot_password{
  padding-left: 6rem;
  color: var(--secondary_color);
}

.forgot_password:hover{
  color: var(--secondary_color);
}
/* .login_links{
  padding-right: 15rem;
} */

.login_btn{
  background: var(--primary_color);
  border: none;
  padding: 5px 40px 10px;
  color: var(--text_color);
  font-family: var(--text_font);
  margin-right: 5.5rem;
}

.signup_btn{
  background: #fff;
  border: none;
  padding: 5px 40px 10px;
  color: var(--primary_color);
  box-shadow: 2px 2px 5px grey;
  font-family: var(--text_font);
}

.signup_links{
  padding-left: 8rem;
}

.signup_question a{
  text-decoration: underline;
  padding-left: 5rem;
}



   
  

@media (min-width: 1200px){
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}
@media (max-width: 768px){
  .navbar .dropdown-menu.form-wrapper {
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    border: none;
  }
  .navbar .form-inline {
    display: block;
  }
  .navbar .input-group {
    width: 100%;
  }
  .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    display: block;
  }
}

/* Home screen */

@media (min-width: 300px) and (max-width: 767.98px){
  #hero{
    height: 90vh;
    background-size: cover;
    position: relative;;
    /* width: 100%; */
    margin-bottom: 7rem;
  }
  #hero .hero-text{
    position: absolute !important;
    font-family:var(--text_font);
    font-size: 36px;
    bottom: 100%;
    left:10% !important;
    top: 35% !important;
   }

   .section_header_why {
    /* margin-bottom: 60px; */
    position: relative;
    padding-bottom: 3px;
  }
  
  .section_header_why::before {
    content: '';
    position: absolute;
    display: block;
    width: 150px;
    height: 3px;
    background: var(--primary_color);
    bottom: 0;
    left: 3%;
  }

  #why_choose h3, #faq h3{
    color: var(--secondary_color);
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
  }

  .why_choose_icon{
    padding-left: 0;
    text-align: center;
  }

  .login_bg{
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  }

  .forgot_password{
    padding-left: 2rem;
  }

  .login_logo p{
    padding-left: 2rem;
  }

  .login_btn{
    margin-right: 0;
  }
}