@import url('animate.min.css');

html { height: 100%; width:100%; }
*html body { height: 100%; width:100%; }

.shuziabg{background-color:#002366;}
.shuziacolor{color:#002366;}
.shuzialink a {color:#002366;}
.shuzialink a:link {color:#002366;}
.titlea{color:#002366; margin-bottom:10px; margin-top:10px; font-size:25px;}

.topbg{ 
  background: #11161a;
   color:white;
 background-color:#2B2B8F;
  
  border-left: 0;
  border-right: 0;
    
   }
  
  
  .sidebar-background {
position: fixed;
z-index: -1;
width: 14.5%;

background-image: url(../images/bg.png); background-color: #cccccc; background-size:100% 100%;
top: 0;
left: 0;
height: 100%;
border-right: 1px solid #ccc;
}

.sidebar-background .primary-sidebar-background {
width: 100%;
background: #9ACB39;
background-color:white;
height: 100%;
top: 0;
left: 0;
position: absolute;
}


.adminheader{background: url(../images/td.png) repeat;}
.admin_page_title{float:left;}
body {background-color:#F3F4F5; margin: 0; padding: 0; color: #707070; 	font: normal 12px 'Open Sans', HelveticaNeue, Helvetica, Arial;
	padding: 0;
	height: 100%;
	width:100%;  overflow-x: hidden;}
    

    

/*ADMIN PLUGIN MENU*/
#adminmenu_holder{overflow: hidden; margin-left: 5px; margin-top:5px; padding-top:5px; border-top: solid #DDDDDD 1px;}
.admenu{
    background-color: #F3F3F3;
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F3F3F3));
        background: -webkit-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: -moz-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: -ms-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: -o-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: linear-gradient(top, #FFFFFF, #F3F3F3);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#F3F3F3');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#F3F3F3')';
        
        -webkit-border-radius:3px;  -moz-border-radius:3px;  border-radius:3px; -khtml-border-radius:3px;
        
        float: left; padding:10px 20px; margin:5px; border:solid 1px #CCCCCC; position: relative;
}

.adminmenu_counter{font-size:10px; padding:0px 4px; position:absolute; color:white; top:-5px; right:-5px;}
#aduser{background-color:#E77551;}
#adwidget{background-color:orange;}
#adplugin{background-color:#83BBCC;}
#adbackup{background-color:#A0CB62;}
#addisk{background-color:purple;}
#aduserspan{display:inline-block; width:22px; height:15px; background:url(../images/adminuser.png) no-repeat; vertical-align:middle;}
#adwidgetspan{display:inline-block; width:22px; height:15px; background:url(../images/widget.png) no-repeat; vertical-align:middle;}
#adpluginspan{display:inline-block; width:22px; height:15px; background:url(../images/plugin.png) no-repeat; vertical-align:middle;}
#adbackupspan{display:inline-block; width:22px; height:15px; background:url(../images/backup.png) no-repeat; vertical-align:middle;}
#addiskspan{display:inline-block; width:22px; height:15px; background:url(../images/disk.png) no-repeat; vertical-align:middle;}


/*WIDGET NO CLASS*/
.noclass{display:none;}

/*DASH BOARD*/
/*DASH BOARD BODY*/
#content_body{background-color:#F3F4F5; padding:5px;}

/*DASH BOARD WIDGET TIME*/
.dashboardwidget_title{
        background-color: #1F5994;
        background: -webkit-gradient(linear, left top, left bottom, from(#79ACDF), to(#1F5994));
        background: -webkit-linear-gradient(top, #79ACDF, #1F5994);
        background: -moz-linear-gradient(top, #79ACDF, #1F5994);
        background: -ms-linear-gradient(top, #79ACDF, #1F5994);
        background: -o-linear-gradient(top, #79ACDF, #1F5994);
        background: linear-gradient(top, #79ACDF, #1F5994);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#79ACDF', EndColorStr='#1F5994');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#79ACDF', endColorstr='#1F5994')"; 
        color: white; 
}
/*DASH BOARD DRAGABLE*/
.draggables{
    float:left; position:absolute; background-color:white;
box-shadow:0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow:0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);
border:solid 1px #EEEEEE\8;  /* IE 8 or below */
}
.handle{cursor:move;}


/*{LANGUAGE_FILE}*/  
 .block { float:left;}
#langmenu { width:159px; overflow:hidden;}
#langmenu, .langmenucontent { padding:0;}
#langmenu, .langmenucontent ul { margin:0px 1px; padding:0px;}
#langmenu, .langmenucontent li { background:url(../images/bg-li-categories.png) bottom repeat; margin-bottom:5px; }
#langmenu, .langmenucontent li a { color:#787878; font-size:12px; text-decoration:none; -webkit-transition:all .3s ease; -moz-transition:all .3s ease; padding:6px 0px 10px 9px; display:block}
#langmenu, .langmenucontent li a:hover { background:url(../images/bg-categories.gif) top repeat-x; color:#fff}
#langmenu .langmenucontent li a span {display:inline-block; -webkit-transition:all .6s ease; -moz-transition:all .6s ease; vertical-align:middle; margin-right:14px;}
#langmenu, .langmenucontent li a:hover span { margin:0px; padding:0px; -moz-transform:rotate(360deg); -webkit-transform:rotate(360deg); transform:rotate(360deg);}
.langmenucontent li a.active_submenu{
    color:white;
    background-color: #AB4546;
        background: -webkit-gradient(linear, left top, left bottom, from(#D85F5F), to(#AB4546));
        background: -webkit-linear-gradient(top, #D85F5F, #AB4546);
        background: -moz-linear-gradient(top, #D85F5F, #AB4546);
        background: -ms-linear-gradient(top, #D85F5F, #AB4546);
        background: -o-linear-gradient(top, #D85F5F, #AB4546);
        background: linear-gradient(top, #D85F5F, #AB4546);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D85F5F', EndColorStr='#AB4546');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D85F5F', endColorstr='#AB4546')';   
   
}

.langmenucontent li { 
    
    box-shadow:0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow:0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);
  /* IE 8 or below */}


/*{SITE_MENU}*/  
 .block { float:left;}
#leftmenu { width:99.8%; overflow:hidden;}
#leftmenu, .leftmenucontent { padding:0;}
#leftmenu, .leftmenucontent ul { margin:0px; padding:0px; list-style: none; list-style-type: none;}

.leftmenucontent li { margin-bottom:0px;     list-style: none; list-style-type: none;}      
.leftmenucontent li:last-child {
    border-bottom: none;
}
      
.leftmenucontent li a { color:orange; font-size:120%; text-decoration:none; -webkit-transition:all .3s ease; -moz-transition:all .3s ease; padding:9px 5px 9px 20px; display:block}

.leftmenucontent li a:hover { background:url(../images/bg-categories.png) top repeat-x; color:white}

/*#leftmenu .leftmenucontent li a span {display:inline-block; width:14px; height:13px; background:url(../images/a-categories.gif) no-repeat 0 0 #797979; -webkit-transition:all .6s ease; -moz-transition:all .6s ease; vertical-align:middle; margin-right:14px;}

#leftmenu, .leftmenucontent li a:hover span { margin:0px; padding:0px; -moz-transform:rotate(360deg); -webkit-transform:rotate(360deg); transform:rotate(360deg); background:url(../images/a-categories.gif) no-repeat 0 0 transparent;}*/

.leftmenucontent li a.active_submenu{
    color:white;
background:url(../images/bg-categories.png) top repeat-x;
}



.overredmenu{background:url(../images/bg-categories.png) top repeat-x; color:white; padding:8px 10px; font-size:17px;}
.sitemenu_ancor{display:none;}


.leftmenucontent li { 
    margin:0px;

  /* IE 8 or below */}
  
  .leftmenucontent li .glow {

        position: absolute;
        height:45px;
        width: 5px;
        -webkit-transition: box-shadow 0.3s;
        -moz-transition: box-shadow 0.3s;
        -o-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s;
        background: #1F2B42;
        -webkit-box-shadow: 0 0 2px 1px #434d59 inset;
        -moz-box-shadow: 0 0 2px 1px #434d59 inset;
        box-shadow: 0 0 2px 1px #434d59 inset; }
      /* line 80, /home/andrei/core-admin-release/core-admin/source/stylesheets/sidebar.scss */
      .leftmenucontent li:hover .glow {
        background: #4291A6;
        -webkit-box-shadow: 0 0 2px 1px #7bc8d7 inset;
        -moz-box-shadow: 0 0 2px 1px #7bc8d7 inset;
        box-shadow: 0 0 2px 1px #7bc8d7 inset; }
     
      /* line 91, /home/andrei/core-admin-release/core-admin/source/stylesheets/sidebar.scss */
      .leftmenucontent li.active .glow {
        background: #4291A6;
        -webkit-box-shadow: 0 0 2px 1px #7bc8d7 inset;
        -moz-box-shadow: 0 0 2px 1px #7bc8d7 inset;
        box-shadow: 0 0 2px 1px #7bc8d7 inset; }



/*{TOP_MENU}*/
#topmenu, .topmenucontent { padding:0; margin:0px;}
#topmenu, .topmenucontent ul { margin:0px; padding:0px; list-style: none;}
#topmenu, .topmenucontent li { float:right;  }
.topmenucontent li a {  
    color:#FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
    padding: 3px 10px;
    margin-right: 10px;
    line-height: 20px;
    height: 24px;}
#topmenu li a:hover {         background: -webkit-gradient(linear, left top, left bottom, from(#61C261), to(#458A45));
        background: -webkit-linear-gradient(top, #61C261, #458A45);
        background: -moz-linear-gradient(top, #61C261, #458A45);
        background: -ms-linear-gradient(top, #61C261, #458A45);
        background: -o-linear-gradient(top, #61C261, #458A45);
        background: linear-gradient(top, #61C261, #458A45);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#61C261', EndColorStr='#458A45');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#61C261', endColorstr='#458A45')';    color:#FFFFFF;}
.topmenucontent li a.active_submenu{
    color:white;
    background-color: #AB4546;
        background: -webkit-gradient(linear, left top, left bottom, from(#D85F5F), to(#AB4546));
        background: -webkit-linear-gradient(top, #D85F5F, #AB4546);
        background: -moz-linear-gradient(top, #D85F5F, #AB4546);
        background: -ms-linear-gradient(top, #D85F5F, #AB4546);
        background: -o-linear-gradient(top, #D85F5F, #AB4546);
        background: linear-gradient(top, #D85F5F, #AB4546);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D85F5F', EndColorStr='#AB4546');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D85F5F', endColorstr='#AB4546')';   
   
}  
    
    
    
    
/*{PLUGIN_MENU}*/    
.submenu_icon{display:none;}    
#submenu, .submenucontent { padding:0; margin:0px;}
#submenu, .submenucontent ul { margin:0px; padding:0px; list-style: none;}
#submenu, .submenucontent li { float:left;  }
.submenucontent li a {        color:white;



        background-color: #60AD19;
        background: -webkit-gradient(linear, left top, left bottom, from(#A3D03E), to(#60AD19));
        background: -webkit-linear-gradient(top, #A3D03E, #60AD19);
        background: -moz-linear-gradient(top, #A3D03E, #60AD19);
        background: -ms-linear-gradient(top, #A3D03E, #60AD19);
        background: -o-linear-gradient(top, #A3D03E, #60AD19);
        background: linear-gradient(top, #A3D03E, #60AD19);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#A3D03E', EndColorStr='#60AD19');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A3D03E', endColorstr='#60AD19')";   


      
        
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/*old explorer*/
filter: alpha(opacity=80); /* internet explorer */
-khtml-opacity: 0.8; /* khtml, old safari */
-moz-opacity: 0.8; /* mozilla, netscape */
opacity: 0.8; /* fx, safari, opera */

        padding:3px 5px;
        margin:5px 3px;
        box-shadow:0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow:0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);
border:solid 1px #EEEEEE\8;  /* IE 8 or below */
        }
.submenucontent li a:hover { background:url(../images/bg-categories.gif) top repeat-x; color:#fff}    
    
.submenucontent li a.active_submenu{
    color:white;
    background-color: #AB4546;
        background: -webkit-gradient(linear, left top, left bottom, from(#D85F5F), to(#AB4546));
        background: -webkit-linear-gradient(top, #D85F5F, #AB4546);
        background: -moz-linear-gradient(top, #D85F5F, #AB4546);
        background: -ms-linear-gradient(top, #D85F5F, #AB4546);
        background: -o-linear-gradient(top, #D85F5F, #AB4546);
        background: linear-gradient(top, #D85F5F, #AB4546);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D85F5F', EndColorStr='#AB4546');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D85F5F', endColorstr='#AB4546')';   
   
}
    
 
 
 /*{LEFT_WIDGET}*/
 .leftwidgetcontainer{
    margin:5px;
    margin-top:20px; 
 overflow: hidden; 
 position:relative;         
 box-shadow:0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow:0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);
border:solid 1px #EEEEEE;  /* IE 8 or below */}
 .leftwidgettitle{
    padding:5px; 
    overflow: hidden; 
    position:relative;
        background-color: #1F5994;
        background: -webkit-gradient(linear, left top, left bottom, from(#79ACDF), to(#1F5994));
        background: -webkit-linear-gradient(top, #79ACDF, #1F5994);
        background: -moz-linear-gradient(top, #79ACDF, #1F5994);
        background: -ms-linear-gradient(top, #79ACDF, #1F5994);
        background: -o-linear-gradient(top, #79ACDF, #1F5994);
        background: linear-gradient(top, #79ACDF, #1F5994);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#79ACDF', EndColorStr='#1F5994');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#79ACDF', endColorstr='#1F5994')"; 
        color: white;
        
        box-shadow:0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow:0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);
border:solid 1px #EEEEEE;  /* IE 8 or below */
         
 }
 .leftwidgetbody{
    overflow: hidden; 
 position:relative;
     background-color: #F3F3F3;
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F3F3F3));
        background: -webkit-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: -moz-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: -ms-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: -o-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: linear-gradient(top, #FFFFFF, #F3F3F3);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#F3F3F3');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#F3F3F3')';
 }
  /*.................*/  
  
    
  
  
   /*{RIGHT_WIDGET}*/
 .rightwidgetcontainer{
    color:black;
    margin:5px;
    margin-top:20px; 
 overflow: hidden; 
 position:relative;         
 box-shadow:0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow:0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);
border:solid 1px #EEEEEE;  /* IE 8 or below */}
 .rightwidgettitle{
    display: none;
    padding:5px; 
    overflow: hidden; 
    position:relative;
        background-color: #1F5994;
        background: -webkit-gradient(linear, left top, left bottom, from(#79ACDF), to(#1F5994));
        background: -webkit-linear-gradient(top, #79ACDF, #1F5994);
        background: -moz-linear-gradient(top, #79ACDF, #1F5994);
        background: -ms-linear-gradient(top, #79ACDF, #1F5994);
        background: -o-linear-gradient(top, #79ACDF, #1F5994);
        background: linear-gradient(top, #79ACDF, #1F5994);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#79ACDF', EndColorStr='#1F5994');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#79ACDF', endColorstr='#1F5994')"; 
        color: white;
        
        box-shadow:0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow:0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);
border:solid 1px #EEEEEE;  /* IE 8 or below */
         
 }
 .rightwidgetbody{
    overflow: hidden; 
 position:relative;
     background-color: #F3F3F3;
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F3F3F3));
        background: -webkit-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: -moz-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: -ms-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: -o-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: linear-gradient(top, #FFFFFF, #F3F3F3);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#F3F3F3');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#F3F3F3')';
 }
  /*.................*/  
  
    
#username, #password{
    height:25px;
}
    
.input{
      color: #777;
  background-color:white; 

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  outline: 0;
  margin: 1px 0px;
  padding:5px;
  border:none;
  border-bottom:solid 1px #EEEEEE;
  
}

.input:focus {
  -moz-box-shadow: 1px 1px 4px #F4F4F4 inset; 
  -webkit-box-shadow: 1px 1px 4px #F4F4F4 inset; 
  box-shadow: 1px 1px 4px #F4F4F4 inset;
  border: solid 1px #DDDDDD;
  background-color:white;
}
.shadow{
/*box-shadow: 0 1px 5px rgba(34,25,25,0.4); 
-moz-box-shadow: 0 1px 5px rgba(34,25,25,0.4); 
-webkit-box-shadow: 0 1px 5px rgba(34,25,25,0.4);*/
box-shadow:0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow:0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);
border:solid 1px #EEEEEE\8;  /* IE 8 or below */
}
 
.innershadow{
border: 1px solid #666;
background: #fff;
-moz-box-shadow:    inset 0 0 10px #CCCCCC;
   -webkit-box-shadow: inset 0 0 10px #CCCCCC;
   box-shadow:         inset 0 0 10px #CCCCCC;

}
    
a:link, a:visited
{
	text-decoration: none;
	color: #333;
}

img{border:none;}

.whitelink a {color:white;}
.whitelink a:link {color:white;}


.topradious{border-top-left-radius:10px; 	-moz-border-radius-topleft:10px; 	-webkit-border-top-left-radius:10px;
border-top-right-radius:10px; 	-moz-border-radius-topright:10px; 	-webkit-border-top-right-radius:10px;}

.bottomradious{border-bottom-right-radius:10px; 	-moz-border-radius-bottomright:10px; 	-webkit-border-bottom-right-radius:10px; border-bottom-left-radius:10px; 	-moz-border-radius-bottomleft:10px; 	-webkit-border-bottom-left-radius:10px;}


.radious10{  -webkit-border-radius:10px;  -moz-border-radius:10px;  border-radius:10px; -khtml-border-radius:10px;}
.radious5{  -webkit-border-radius:5px;  -moz-border-radius:5px;  border-radius:5px; -khtml-border-radius:5px;}
.radious3{  -webkit-border-radius:3px;  -moz-border-radius:3px;  border-radius:3px; -khtml-border-radius:3px;}
.nWarning { border: 1px solid #CCCCCC; color: #826200; padding:5px; background-color:#F7F0C3; margin:10px 0px; text-align:center;}
.nInformation { border: 1px solid #BAC8DC; color: black; padding:5px; background-color:#DCF9FE; margin-bottom:10px; text-align:center;}
.nSuccess {border: 1px solid #c1d779; color: #3C5A01;  margin-bottom:10px; background-color:#C7FAE4; padding:10px;}
.nFailure { border: 1px solid #e18b7c; color: #AC260F;  margin-bottom:10px;}
.nLightbulb { border: 1px solid #D3A350; color: #835F21;  margin-bottom:10px;}
.nMessages { border: 1px solid #42B4FF; color: #835F21; padding:10px; background-color:#6CE5F2;}


#gmaps_context_menu{  -webkit-border-radius:10px;  -moz-border-radius:10px;  border-radius:10px; -khtml-border-radius:10px;}

.outline{outline:none; outline: 0px;}
.innertd{border:solid 1px #206AA4;} 


.activemenu{
        background-color: #2E2E92;
        background: -webkit-gradient(linear, left top, left bottom, from(#79ACDF), to(#2E2E92));
        background: -webkit-linear-gradient(top, #79ACDF, #2E2E92);
        background: -moz-linear-gradient(top, #79ACDF, #2E2E92);
        background: -ms-linear-gradient(top, #79ACDF, #2E2E92);
        background: -o-linear-gradient(top, #79ACDF, #2E2E92);
        background: linear-gradient(top, #79ACDF, #2E2E92);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#79ACDF', EndColorStr='#2E2E92');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#79ACDF', endColorstr='#2E2E92')"; 
        color: white;
}
.activemenu a{
    color:white;
}
 
 
 
 
.middlemenu{
    background-color: #CE6B09;
        background: -webkit-gradient(linear, left top, left bottom, from(#FCB065), to(#CE6B09));
        background: -webkit-linear-gradient(top, #FCB065, #CE6B09);
        background: -moz-linear-gradient(top, #FCB065, #CE6B09);
        background: -ms-linear-gradient(top, #FCB065, #CE6B09);
        background: -o-linear-gradient(top, #FCB065, #CE6B09);
        background: linear-gradient(top, #FCB065, #CE6B09);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FCB065', EndColorStr='#CE6B09');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FCB065', endColorstr='#CE6B09')';   
        color:white; 
}



.greenmenu{
    color:white;
    background-color: #458A45;
        background: -webkit-gradient(linear, left top, left bottom, from(#61C261), to(#458A45));
        background: -webkit-linear-gradient(top, #61C261, #458A45);
        background: -moz-linear-gradient(top, #61C261, #458A45);
        background: -ms-linear-gradient(top, #61C261, #458A45);
        background: -o-linear-gradient(top, #61C261, #458A45);
        background: linear-gradient(top, #61C261, #458A45);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#61C261', EndColorStr='#458A45');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#61C261', endColorstr='#458A45')';    
}


.redmenu{
    color:white;
    background-color: #AB4546;
        background: -webkit-gradient(linear, left top, left bottom, from(#D85F5F), to(#AB4546));
        background: -webkit-linear-gradient(top, #D85F5F, #AB4546);
        background: -moz-linear-gradient(top, #D85F5F, #AB4546);
        background: -ms-linear-gradient(top, #D85F5F, #AB4546);
        background: -o-linear-gradient(top, #D85F5F, #AB4546);
        background: linear-gradient(top, #D85F5F, #AB4546);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D85F5F', EndColorStr='#AB4546');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#D85F5F', endColorstr='#AB4546')';    
}


.profilebg{
    background-color: #F3F3F3;
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F3F3F3));
        background: -webkit-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: -moz-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: -ms-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: -o-linear-gradient(top, #FFFFFF, #F3F3F3);
        background: linear-gradient(top, #FFFFFF, #F3F3F3);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#F3F3F3');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#F3F3F3')';
}


.profilebg2{
    background-color: #FFFFFF;
        background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#FFFFFF));
        background: -webkit-linear-gradient(top, #F3F3F3, #FFFFFF);
        background: -moz-linear-gradient(top, #F3F3F3, #FFFFFF);
        background: -ms-linear-gradient(top, #F3F3F3, #FFFFFF);
        background: -o-linear-gradient(top, #F3F3F3, #FFFFFF);
        background: linear-gradient(top, #F3F3F3, #FFFFFF);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F3F3F3', EndColorStr='#FFFFFF');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F3F3F3', endColorstr='#FFFFFF')';
}


.barmenu{
    color:white;
       background-color: #111111;
        background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#111111));
        background: -webkit-linear-gradient(top, #595959, #111111);
        background: -moz-linear-gradient(top, #595959, #111111);
        background: -ms-linear-gradient(top, #595959, #111111);
        background: -o-linear-gradient(top, #595959, #111111);
        background: linear-gradient(top, #595959, #111111);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#595959', EndColorStr='#111111');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#595959', endColorstr='#111111')";         
        
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/*old explorer*/
filter: alpha(opacity=80); /* internet explorer */
-khtml-opacity: 0.8; /* khtml, old safari */
-moz-opacity: 0.8; /* mozilla, netscape */
opacity: 0.8; /* fx, safari, opera */
}



.whitemenu{
    color:#555555;
    background-color: #F5F5F5;
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F5F5F5));
        background: -webkit-linear-gradient(top, #FFFFFF, #F5F5F5);
        background: -moz-linear-gradient(top, #FFFFFF, #F5F5F5);
        background: -ms-linear-gradient(top, #FFFFFF, #F5F5F5);
        background: -o-linear-gradient(top, #FFFFFF, #F5F5F5);
        background: linear-gradient(top, #FFFFFF, #F5F5F5);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#F5F5F5');
        -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFFFFF', endColorstr='#F5F5F5')';    
}





    
  
/*Upload and Progress Bar*/
input[type=file] {
	border: 1px solid #DDD;
	padding: 2px;
	background: #FFF;
	border-radius: 5px;
}


#output img {
	border: 1px solid #DDD;
	padding: 5px;
}

/* progress bar style */
#progressbox {
	border: 1px solid #92C8DA;
	padding: 1px; 
	position:relative;
	width:98%;
	border-radius: 3px;
	margin: 5px;
	display:none;
	text-align:left;
}
#progressbar {
	height:15px;
	border-radius: 3px;
	background-color: #77E0FA;
	width:1%;
}
#statustxt {
	top:1px;
	left:50%;
	position:absolute;
	display:inline-block;
	color: #000000;
}



/*messaging system*/

*{
  box-sizing:border-box;
}
.nn-alert-container{position:fixed; bottom:10px; right:20px;}
.nn-alert{
    box-shadow:0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow:0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow:0 1px 3px rgba(34,25,25,0.4);
border:solid 1px #EEEEEE\8;  /* IE 8 or below */

  
  margin-top:5px;
  background:rgba(51, 59, 70, 0.5);
  /*border:1px solid #111;*/
  border-radius:3px;
/*  box-shadow:inset 0px 24px 0px rgba(255,255,255,0.1),
    inset 0 1px 0 rgba(255,255,255,0.4),
    inset 0 10px 10px rgba(255,255,255,0.2),
    inset 0 -5px 10px rgba(0,0,0,0.2),
    0 3px 3px rgba(0,0,0,0.3);*/
  width:250px;
  padding:15px;
  color:#444;
  font-size:11px;
 /* text-shadow:0 1px 1px rgba(0,0,0,0.8);*/
  transition:all .5s ease;
  backface-visibility:hidden;
}


.nn-alert.yellow{
  background: #FFFFCC; 
}

.nn-alert.pink{
  background: #F17373; 
}


.nn-alert .fa{
  font-size:2em;
  width:1em;
  float:left;
  margin:7px 10px 0 0px;
  text-align:center;
}



.nn-alert:hover{
  opacity:0.5;
}
/*
.nn-alert:hover .nn-alert:after{
  content:"asdf";
}
*/


.hide{
  height:0;
  padding:0;
  margin:0;
}

.colors{
  position:fixed;
  top:0;
  left:0;
  padding:1em;
  color:white;
  font-size:11px;
  cursor:pointer;
}


input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -57px top no-repeat;
}



.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.428571429;text-decoration:none;background-color:#fff;border:1px solid #ddd}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{background-color:#eee}.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:2;color:#fff;cursor:default;background-color:#428bca;border-color:#428bca}.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#999;cursor:not-allowed;background-color:#fff;border-color:#ddd}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}




.paginationb{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}.paginationb>li{display:inline}.paginationb>li>a,.paginationb>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.428571429;text-decoration:none;background-color:#fff;border:1px solid #ddd}.paginationb>li:first-child>a,.paginationb>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}.paginationb>li:last-child>a,.paginationb>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}.paginationb>li>a:hover,.paginationb>li>span:hover,.paginationb>li>a:focus,.paginationb>li>span:focus{background-color:#eee}.paginationb>.active>a,.paginationb>.active>span,.paginationb>.active>a:hover,.paginationb>.active>span:hover,.paginationb>.active>a:focus,.paginationb>.active>span:focus{z-index:2;color:#fff;cursor:default;background-color:#428bca;border-color:#428bca}.paginationb>.disabled>span,.paginationb>.disabled>span:hover,.paginationb>.disabled>span:focus,.paginationb>.disabled>a,.paginationb>.disabled>a:hover,.paginationb>.disabled>a:focus{color:#999;cursor:not-allowed;background-color:#fff;border-color:#ddd}.paginationb-lg>li>a,.paginationb-lg>li>span{padding:10px 16px;font-size:18px}.paginationb-lg>li:first-child>a,.paginationb-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.paginationb-lg>li:last-child>a,.paginationb-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}.paginationb-sm>li>a,.paginationb-sm>li>span{padding:5px 10px;font-size:12px}.paginationb-sm>li:first-child>a,.paginationb-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}.paginationb-sm>li:last-child>a,.paginationb-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}